---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$text-color:       #504b43;
$background-color: #f5f5f5;
$brand-color:      #5350ef;
$background-alt : #f9f9f9;

*,
*:before,
*:after {
	box-sizing: border-box;
}

.visuallyhidden {
	 position: absolute !important;
	 height: 1px;
	 width: 1px;
	 overflow: hidden;
	 clip: rect(1px 1px 1px 1px);
}

svg {
	width: 100px;
	display: block;
}

img {
	display: inline-block;
	width: 100%;
	max-width: 100%;
}

html {
	font-size: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
	color: $text-color;
	line-height: 1.6;
	font-size: 1em;
	background-color: $background-color;
	font-family: -apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Helvetica,
	Arial,
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol";

  @media all and (min-width: 500px) {
    font-size: 1.2em;
  }
}
nav {
	display: flex;
	align-items: flex-end;
}

nav > a {
	padding: 1em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: .6em;
	font-weight: bold;
  text-align: center;
	text-decoration: none;
	border: 2px solid $brand-color;
	margin-left: -2px;
  flex: 1 0 auto;
  &:first-child {
    margin-left: 0;
  }
	&:hover,
	&:focus,
	&.active {
		color: $background-color;
		background-color: $brand-color;
		text-decoration: none;
	}

}
.site-header {
  display: flex;
  flex-direction: column;
  padding: 1em;
  @media all and (min-width: 500px) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1em 1em 1em 2em;
  }
}

.logo {
	font-size: .8em;
	padding-right: 1em;
	svg {
		position: absolute;
	  opacity: 1;
	  fill: $background-alt;
	  top: 0;
	  left: 0;
		z-index: -1;
		width: 200px;
		transform: translate(-20%, -20%);
		@media all and (min-width: 500px) {
			width: 350px;
		}
		@media all and (min-width: 750px) {
			width: 500px;
		}
	}
}

main {
  flex: 1 0 auto;
  padding: 2em;
  margin: 0 1em .5em;
	border: 2px solid $brand-color;
}

h1,
h2,
.logo,
h3 {
	color: $brand-color;
	font-weight: bold;
	clear: both;
	overflow: hidden;
}

h1,
h2,
.logo {
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
	text-transform: uppercase;
	font-size: 1em;
	padding-bottom: 1em;
	border-bottom: 2px solid;
}

a {
	color: $brand-color;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

article {
 max-width: 32em;
	position: relative;
  margin: 4em auto;
  @media all and (min-width: 500px) {
  	margin: 6em auto 8em 1em;
  }
  @media all and (min-width: 750px) {
  	margin: 6em auto 8em 8em;
  }
}

time {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.article-body {
	display: flex;
	flex-direction: column;

  p:first-of-type::first-line {
  	font-weight: bold;
  	font-variant: smallcaps;
  	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

  p:first-of-type::first-letter {
  	float: left;
  	color: $brand-color;
  	background-color: $background-alt;
  	font-size: 2em;
  	line-height: 1;
  	padding: .8em;
  	margin: 0 .28em .25em 0;
  	// width: 100%;
  	clear: both;
  	font-weight: bold;
  	border-bottom: .25em solid;

      @media all and (min-width: 500px) {
        font-size: 6em;
        padding: .5em;
        border-bottom-width: .125em;
      }

      @media all and (min-width: 750px) {
        padding: .8em;
      }
  }

  h2 {

    @media all and (min-width: 750px) {
    	transform: translateX(-2em);
  	  width: calc(100% + 4em);
    }

  }

  ol,
  ul {
  	padding: 0;
  	list-style-type: none;
  }

  ul > li {
  	position: relative;
  }

  ol {
  	counter-reset: ol;
  }

  ol > li {
  	counter-increment: ol;
  	position: relative;
  }



  ol > li:before,
  ul > li:before{
  	color: $brand-color;
  	font-weight: bold;
  	position: absolute;
  	top: 0;
  	left: -1em;
  }

  ol > li:before {
  	content: counter(ol);
    @media all and (min-width: 500px) {
      left: -2em;
    }
  }

  ul > li:before {
  	content: "•";
  }

  code {
  	background-color: $background-alt;
  	font-family: "Monaco", monospace;
  	font-size: .8em;
		color: $brand-color;
  }

  pre code {
  	background-color: transparent;
  }
  pre {
  	background-color: $background-alt;
  	border-radius: .25em;
		padding: 2em;
		overflow-y: auto;

    @media all and (min-width: 750px) {
    	transform: translateX(-2em);
      width: calc(100% + 4em);
    }
  }

  figure {
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
  }

  figcaption {
    font-style: italic;
    color: lighten($text-color, 15);
  }
  blockquote {
    width: 100%;
    clear: both;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.5em 0 0 0;
    padding: 0 0 .5em;
    line-height: 1.2;
  }

}

article {

  footer {
		padding: 0;
    font-size: 1em;
		border-top: 2px solid $brand-color;
    @media all and (min-width: 500px) {
      display: flex;
      > div {
        flex: 1 0 50%;
      }
    }
  }

}

.footnotes {
  border-top: 2px solid;
}
.footnotes p:first-of-type::first-line {
  font-weight: inherit;
  font-variant: inherit;
}
.footnotes p:first-of-type::first-letter {
  float: none;
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: inherit;
  margin: inherit;
  width: inherit;
  clear: inherit;
  font-weight: inherit;
  border-bottom: inherit;
}

.posts {
  list-style-type: none;
	display: flex;
	flex-direction: column;
  flex-wrap: wrap;
	padding: 0;
	margin-left: -1em;
	@media all and (min-width: 750px) {
		flex-direction: row;
	}
	time {
		border-bottom: 2px solid $brand-color;
		color: $brand-color;
		padding: .5em 1em;
	}
	a {
		padding: 1em;
		display: block;
	}
  > li {

    display: flex;
    flex-direction: column;
    border: 2px solid $brand-color;
    margin: 0 0 1em 1em;
		
		&:first-child {
			flex: 2 1 100%;
			h2 {
				font-size: 1.2em;
				font-weight: bold;
				line-height: 1.2;
				@media all and (min-width: 750px) {
					font-size: 2em;
				}
			}
		}
    @media all and (min-width: 750px) {
      flex: 1 2 33%;
    }
  }
}

.pagination {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;

	a {
		display: inline-block;
	}
	a + a:before {
		content: "|";
		display: inline-block;
		margin: 0 .75em 0 .5em;
	}
}

footer {
	padding: 0 1em 1em;
	
	&:target h2 {
		font-weight: normal;
		background-color: $brand-color;
		color: $background-color;
		padding: 0 .5em;
		transform: translateX(-.5em) rotate(-6deg);
		transition: background-color .2s ease-in-out, color .2s ease-in-out, transform .2s ease-in-out;
	}
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $brand-color;
  padding-bottom: .5em;
  nav {
    flex: 0;
  }
  h2 {
    border: 0 none;
    padding: 0;
    margin: 0;
  }
  a {
    flex: 0;
    border: 0 none;
		color: $text-color;
		
    &:hover,
    &:focus {
			color: $brand-color;
			outline: 2px solid;
      background-color: transparent;
    }
  }

  svg {
    fill: currentColor;
    width: 3em;
  }
}

.small {
	@media all and (min-width: 750px) {
		font-size: .8em;
	}
}

.day-job {
	margin-top: 4em;
	@media all and (min-width: 750px) {
		margin-left: 10vw;
	}
	@media all and (min-width: 1000px) {
		transform: translateX(12em);
	}
}
