img {
	width: 100%;
	max-width: 100%;
}

.media {
	@include clr();
	.media__img {
		float: left;
		margin-right: 2em;
	}
	.media__body {
		overflow:hidden; 
	}
}
.media--rtl {
	@extend .media;
	.media__img  {
		float: right;
		margin-left: 2em;
	}
}
