/* 	=============================================

	$ 	BASE SCSS 
	---------------------------------------------
	* 	ALL COMPASS IMPORTS
	*	BREAKPOINTS
	*	VARS

	============================================== 	*/

	@import "compass/reset";
	@import "compass/css3";


	/* 	=============================================

	$ 	LAYOUTS
	---------------------------------------------
	* 	SET BOX SIZING
	*	SET BREAKPOINTS
	* 	SET GRID NAMES AND COLUMN SIZES

	============================================== 	*/

	// BOX SIZING 

	*, *::before, *::after{
		@include box-sizing(border-box);
	}
	
	/* 	=============================================

	$ 	VIEWPORT RULE
	---------------------------------------------
	* 	http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
	*	http://dev.w3.org/csswg/css-device-adapt/#the-atviewport-rule

	============================================== 	*/

	@-ms-viewport{
    	width: device-width;
	}

	// BREAKPOINTS
	// --------------------------------------------
	// *	MOBILE FIRST 

	$bp-s : 400px;
	$bp-m : 600px;
	$bp-w : 1000px;
	$bp-xw : 1600px;

	
	// GRID VARIABLES HERE
	//--------------------------------------------
	// *	ADDITIONAL GRIDS AND NAME CHANGES WILL NEED TO 
	//		BE UPDATED IN _GRID.SCSS

	$grid-units-sml : 4;
	$grid-units-med: 6;
	$grid-units-wide : 12;

	//GRID GUTTER

	/*	** NB: CAN BE 0% IF IE8+
		** ADD PADDING AND BOX SIZING INSTEAD 	*/

	$grid-gutter : 2.5%; 

	

	/* 	=============================================

	$ 	STICKY FOOTER 
	---------------------------------------------
	*	TO USE - 
	* 	SET FOOTER HEIGHT AND CONTAINER VARIABLES
	*	@IMPORT _STICKY-FOOTER.SCSS 

	============================================== 	*/

	$footer-height: 24em;
	$body-container : ".wrap-main";
	$footer-container : ".footer-wrap";
	

	/* 	=============================================

	$ 	COLOURS
	---------------------------------------------
	*	SET COLOURS TO BE USED ON PROJECT

	============================================== 	*/

	$color-text : #333;
	$color-primary : dodgerblue;
	$color-bg : #fdfdfd;
	$color-contact-bg: #ACE4E9;
