.section--contact {
	background: lighten($color-text, 70);
}

.profile-img,
.contact-list a{
	border-radius: 50%;
}
.contact__header {
	

	@include mq(m) {

		position: relative;
		padding-left: 10em;

		&:before {
			content: "";
			background: url(../assets/images/face.jpg) center center no-repeat transparent;
			background-size: cover;
			position: absolute;
			top: .25em;
			left: 0;
			height: 8em;
			width: 8em;
			border-radius: 100%;
			margin-right: 1em;
			overflow: hidden;
		}
			
	}
}
.contact__list {
	
	// padding-top: rhythm();

	// @include mq(m) {
	// 		padding-top: rhythm(1.5);
	// 	}

	li {
		@include mq(w) {
			padding-top: px2em(32);
		}
	}
	a {
		display: block;
		width: 2em;
		height: 2em;
		margin: 0 auto;
		font-size: px2em(32px);
		text-align: center;
		.rotate {
			padding-top: .25em;
			color: lighten($color-text, 70);
			background: $color-bg;
			border-radius: 50%;
			transition: all 1s ease-in;
			
		}
		&:hover,
		&:active,
		&:focus {
			.rotate {
				@include rotateY(360deg);
				color: $color-bg;
				background: $color-primary;
				transition: all .5s ease-out;
			}
			text-decoration: none;
			


		}

	}
}