.section--header {
	border-top: .5em solid $color-text;
	.section__content {
		padding-top: 2em
	}
}
.icon-logo {
	width: 3em;
	height: 3em;
	@include mq(m) {
		width: 4em;
		height: 4em;
	}
}
.nav-main {
	padding-top: .5em;
	@include mq(m) {
		padding-top: 1em;
	}
}
.nav-main__list {
	display: table;
	width: 100%;
	text-align: center;
	@include mq(m) {
		text-align: right;
	}
}
.nav-main__item {
	display: table-cell;

	a {
		color: $color-text;
		display: block;
		}

	@include mq(m) {
		display: inline-block;
		a {
		padding-left: 2em;
		}
	}


}
