@font-face {
	font-family: 'mj-cons';
	src:url('../assets/fonts/mj-cons.eot');
	src:url('../assets/fonts/mj-cons.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/mj-cons.woff') format('woff'),
		url('../assets/fonts/mj-cons.ttf') format('truetype'),
		url('../assets/fonts/mj-cons.svg#mj-cons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'mj-cons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon {
	font-family: 'mj-cons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon--mail:before {
	content: "\e005";
}
.icon--menu:before {
	content: "\e019";
}
.icon--brand:before {
	content: "\e01a";
}
.icon--github:before {
	content: "\e000";
}
.icon--flickr:before {
	content: "\e001";
}
.icon--twitter:before {
	content: "\e003";
}
