.icon {
	display: inline-block;
	fill: currentColor;
}
.icon-codepen {
	/*fill: #000000;*/
}
.icon-twitter {
	/*fill: #000000;*/
}
.icon-flickr {
	/*fill: #000000;*/
}
.icon-github {
	/*fill: #000000;*/
}
.icon-logo {
	fill: $color-primary;
}
.icon-mail {
	/*fill: #000000;*/
}