/* 	=============================================

	$	TYPOGRAPHY
	---------------------------------------------

	*	INCLUDE BASELINE COMPASS STUFF
	*	http://compass-style.org/reference/compass/typography/
	* 	SET CUSTOM TYPOGRAPHY STYLES

	==============================================*/


	@import "compass/typography/vertical_rhythm";

/* 	=============================================

  	$	SET CUSTOM FONT FAMILIES AS VARS
  	---------------------------------------------

	==============================================*/

	$font-heading : "freight-sans-pro", sans-serif;

	$font-body: "freight-sans-pro", sans-serif;


/* 	=============================================

	$	CUSTOM COLOUR WHEN DRAGGING TEXT
	---------------------------------------------

	*	SUGGEST USING VARS SET IN _BASE.SCSS

	==============================================*/

	::selection ,
	::-moz-selection {
	  background: $color-primary;
	  color: $color-bg;
	}


/* 	=============================================

	$	GENERAL TYPOGRAPHY BELOW
	---------------------------------------------

	*	^p ^h1 ^h2 ^h3 ^h4 ^h5 ^h6 ^em ^strong 
	*	^blockquote ^figcaption ^a ^pre ^code ^q
	*	^ul ^ol ^dl ^li ^dt ^dd etc...
	==============================================*/

	body {
		font: 300 100%/1.75 $font-body;
		color: $color-text;
		-webkit-hyphens: auto;
    	-moz-hyphens: auto;
         hyphens: auto;
         -ms-word-break: break-all;
         word-break: break-all;

         // Non standard for webkit
         word-break: break-word;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	                    
	   	-webkit-hyphenate-before: 2;
	    -webkit-hyphenate-after: 3;
	    hyphenate-lines: 3;
	    -moz-font-feature-settings: "liga=1, dlig=1";
	    -ms-font-feature-settings: "liga", "dlig";
	    -webkit-font-feature-settings: "liga", "dlig";
	    -o-font-feature-settings: "liga", "dlig";
	    font-feature-settings: "liga", "dlig";
	}
	.single-para {
		padding-bottom: 1em;
	}
	.heading {

	}
	.heading--page {
		font-size: 3em;
		line-height: 1.5;
		padding-bottom: .5em;
	}
	.heading--section {
		font-size: 2em;
		padding-bottom: .5em;
	}
	
	a {
		color: $color-primary;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
	.meta {
		font-size: 1em;
		padding-bottom: 1em;
		margin-bottom: 1em;
		border: solid $color-primary;
		border-width: 1px 0;
	}
	.quote--plain {
		font-size: 1.5em;
	}
	.small-print {
		padding-bottom: 1em;
	}
	.credits {
		font-size: .8em;
		text-indent: 0;
	}
	.drop-cap:first-letter {
		font-size: 6em;
		line-height: 1;
		display: block;
		margin-right: 100%;
	}
	figure blockquote {
		position: relative;
		font: 1.5em/1.2 $font-heading;
		padding-top: rhythm(1);
		@media all and (min-width: 30em) {
			font-size: 2em;
		}
		&:before {
			content: "“";
			position: absolute;
			top: -.25em;
			left: 0;
			font-size: 3em;
			color: lighten($color-text, 70);
		}
		&:after {
			content: "”";
			display: inline;
			font-size: 1em;
			color: lighten($color-text, 70);
		}
	}
	figure {
		margin: 1em 0;
		padding: 1em 0;
		border: solid lighten($color-text, 70);
		border-width: 1px 0;
	}
	figcaption {
		padding-top: 1em;
		font-size: .75em;
		font-style: italic;
		color: lighten($color-text, 25%);
		@include mq(m) {
			font-size: 1em;
		}
	}
	p + p {
		text-indent: 1.5em;
	}
	.wf-loading {
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, details,
	figure, figcaption, output, ruby, section, summary,
	time {

		opacity: 0;
		
	}
}
.wf-active {
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, details,
	figure, figcaption, output, ruby, section, summary,
	time {
		opacity: 1;
		transition: opacity .3s ease-out;
	}
}
	 
