---
layout: layout.njk
title: Photos
snippet: Like an instagram but mine
pagination:
  data: collections.photo
  size: 10
  reverse: true
  alias: posts
---

<div class="wrapper wrapper--full">

<div class="stack">
	<header class="page-header border">
		<h1>Photos</h1>
	</header>
	<div class="photo-grid">
	{% for post in posts %}
		<figure class="photo ">
			<a href="{{ post.url | url }}"><img src="{{ post.data.src }}" alt="{{ post.data.alt }}"></a>
			
		</figure>
	{% endfor %}
	</div>
</div>

<nav class="pagination">

{% if pagination.previousPageLink %}
<a href="{{ pagination.previousPageHref }}">Newer</a>
{% else %}
<span aria-hidden="true"></span>
{% endif %}

{% if pagination.nextPageLink %}
<a href="{{ pagination.nextPageHref }}">Older</a>
{% endif %}

</nav>

</div>

<div class="wrapper"></div>