---
layout: layout.njk
title: You are lost
permalink: 404.html
---
<div class="wrapper">

	<article class="stack">
		<header class="page-header">
			<h1>Nope.</h1>
		</header>

		<p>Looks like that isn't where you thought it was. Try going <a href="/">Home</a></p>

	</article>
	
</div>
