---
layout: layout.njk
title: Book shelf
---
<div class="wrapper wrapper--full">
<article class="stack">
	<header class="page-header">
		<h1>Bookshelf</h1>
	</header>

	{# {% set reading = literaldotclub.reading | reverse %}
	{% set read = literaldotclub.read | reverse %}
	
	<div class="bookshelf">
	{% for book in reading %}
		<article class="border">
			<a href="//literal.club/matthewbeta/book/{{ book.slug  }}">
				<img src="{{ book.cover }}" alt="{{ book.title }} by {% for author in book.authors %}{{ author.name }}{% if loop.last == false %}, {% endif %}{% endfor %}">
			</a>

			<div class="book-info">
				<h2>{{ book.title }} 👀</h2>
				<p><em>{{ book.subtitle }}</em></p>
				<p>– {% for author in book.authors %}{{ author.name }}{% if loop.last == false %}, & {% endif %}{% endfor %}</p>
			</div>

		</article>
	{% endfor %}


	{% for book in read %}
		{% if loop.index0 < 99 %}
			<article class="border">
				<a href="//literal.club/matthewbeta/book/{{ book.slug  }}">
					<img src="{{ book.cover }}" alt="{{ book.title }} by {% for author in book.authors %}{{ author.name }}{% if loop.last == false %}, {% endif %}{% endfor %}">
				</a>

			<div class="book-info">
				<h2>{{ book.title }}</h2>
				<p><em>{{ book.subtitle }}</em></p>
				<p>{% for author in book.authors %}{{ author.name }}{% if loop.last == false %}, & {% endif %}{% endfor %}</p>
			</div>

			</article>
		{% endif %}
	{% endfor %}
	</div>

	<a href="https://literal.club/matthewbeta">See all my reading</a> #}

	      <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
					display: grid;
					grid-template-columns: repeat(auto-fill, 6em);
					gap: 1em;
					list-style-type: none;
					margin-bottom: 1em;
        }

        .gr_grid_book_container a {
          /* customize book cover container div here */
          	display: inline-flex;
						padding: .5em;
						width: 100%;
        }

				.gr_grid_book_container img {
          /* customize book cover container div here */
          	width: 100%;
        }
      </style>

			<h2>Reading</h2>
      <div id="gr_grid_widget_1720614578"></div>

			<h2>Read</h2>
			<div id="gr_grid_widget_1720613676"></div>

			
      <script src="https://www.goodreads.com/review/grid_widget/93093847.Matthew's%20currently-reading%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=20&order=d&shelf=currently-reading&sort=date_read&widget_id=1720614578" type="text/javascript" charset="utf-8"></script>
      
      <script src="https://www.goodreads.com/review/grid_widget/93093847.Matthew's%20read%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=50&order=d&shelf=read&sort=date_read&widget_id=1720613676" type="text/javascript" charset="utf-8"></script>

</article>
</div>
<div class="wrapper"></div>