---
layout: layout.njk
title: Hello
---
<div class="wrapper">

	<article class="stack">
		<header class="page-header">
			<h1>Hello</h1>
		</header>

		<p>My name is Matt and I make websites. That means I talk to people to understand their goals and users' needs and thinking. I plan ongoing digital and content strategies. I work with designers to integrate brands into digital experiences and products. I also do a bit of coding.</p>

		<p>I work for the <a href="//bluegg.co.uk">best design agency in Wales</a>.</p>

	</article>
	
</div>