---
layout: layout.njk
title: You are offline
---
<div class="wrapper">

	<article class="stack">
		<header class="page-header">
			<h1>You are offline</h1>
		</header>

		<p>Looks like you don't have any internet. Gutted.</p>

	</article>
	
</div>