<section id="about" class="section section--about">

  <div class="section__content">

  <div class="grid">

    <div class="grid__unit w-10">

    <h1 class="heading heading--page">How do you do?</h1>

    <blockquote class="quote--plain">

      I'm a designer and developer and <a href="#portfolio">I make web things</a> in South Wales. If you're building something, <a href="#contact">I can help you make it better</a>

    </blockquote>

    </div>

    <!-- <div class="welcome-img grid__unit m-2 w-4">
      <img src="//placekitten.com/400/400" alt="">
    </div> -->

  </div>

  </div>

</section>