<div class="contact">

    <h2>👋 Say Hello</h2>

    <nav>

		<a href="mailto:hello@matthew-jackson.com">
			<svg class="icon" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use></svg>
			<span class="visuallyhidden">Email me</span>
		</a>

		<a href="https://twitter.com/matthewbeta">
			<svg class="icon" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
			<span class="visuallyhidden">Tweet me</span>
		</a>

		<a href="https://codepen.io/matthewbeta">
			<svg class="icon" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-codepen"></use></svg>
			<span class="visuallyhidden">Codepen me</span>
		</a>

		<a href="https://github.com/matthewbeta">
			<svg class="icon" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use></svg>
			<span class="visuallyhidden">Github me</span>
		</a>

	</nav>

</div>
<!-- /.contact -->