<div class="section section--contact">

        <div id="contact" class="section__content contact">
            
            <div class="contact__header">
              
              <h2 class="heading heading--section">Say hello</h2>

              <p>You should write to me. I love email. We could make internets together and take over the world, or at least our own little corner of it. Seriously, I'm just here waiting&hellip;</p>
            
            </div>

            <ul class="grid contact__list">
              
              <li class="grid__unit s-1 w-3">
                
                <a href="mailto:hello@matthew-jackson.com">
                 <div class="rotate">
                    <i class="icon icon--mail" aria-hidden="true"></i><b class="visually-hidden">Write me</b>
                  </div>
                </a>

              </li>

              <li class="grid__unit s-1 w-3">
                
                <a href="http://twitter.com/matthewbeta">
                  <div class="rotate">
                    <i class="icon icon--twitter" aria-hidden="true"></i><b class="visually-hidden">Tweet me</b>
                  </div>
                </a>

              </li>

              <li class="grid__unit s-1 w-3">
                
                <a href="http://github.com/matthewbeta">
                  <div class="rotate">
                    <i class="icon icon--github" aria-hidden="true"></i><b class="visually-hidden">Uhhr&hellip; Git me(?)</b>
                  </div>
                </a>

              </li>

              <li class="grid__unit s-1 w-3">
                
                <a href="http://codepen.io/matthewbeta">

                  <div class="rotate">
                    <i class="icon icon--codepen" aria-hidden="true"></i><b class="visually-hidden">I'm on Codepen too</b>
                  </div>

                </a>

              </li>

            </ul>

        </div>

      </div>