<footer class="section section--footer">
        
    <div id="footerMain" class="footer-main section__content">
      
     	<p class="small-print">&copy; {{ site.time | date: '%Y' }} | All content is licensed under the  <a href="https://raw.github.com/philsturgeon/dbad/master/LICENSE-en.md">DBAD License</a></p>

     	<p class="credits">Made in Efailisaf, South Wales on a Macbook Air using <a href="http://www.sublimetext.com/">Sublime Text</a>, <a href="http://www.bohemiancoding.com/sketch/">Sketch</a>. Built with <a href="http://sass-lang.com">SCSS</a> with a little help from <a href="http://compass-style.org">Compass</a>, on top of <a href="http://jekyllrb.com">Jekyll</a> and hosted on <a href="http://github.io">Github</a>. The fonts used are <a href="http://www.dardenstudio.com/typefaces/freight_sans">Freight Sans</a> by Darden Studio and <a href="https://typekit.com/fonts/chaparral-pro">Chaparral Pro</a> by some guy called Adobe, both served via <a href="http://typekit.com">Typekit</a>.</p>
      
    </div>

</footer>