<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
			{% if page.title %}{{ page.title }}
			{% else %}🤷{% endif %}
			| Matthew Hyphen Jackson Dot Com</title>

	<meta name="description" content="{% if page.snippet %}{{ page.snippet }}{% else %}I guess I couldn't be bothered to write a description. I suck. I'm sorry{% endif %}">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#F8EDE8">
	<meta name="msapplication-TileColor" content="#f8ede8">
	<meta name="theme-color" content="#f8ede8">

	<link rel="manifest" href="/manifest.json">

	<link rel="stylesheet" href="/css/main.css">


</head>