<nav id="navMain" class="nav-main grid__unit s-3 m-4 w-8" role="navigation">
              
  <ul class="nav-main__list">

    <li class="nav-main__item">

        <a href="#about">About</a>

    </li>

    <li class="nav-main__item">
      
        <a href="#portfolio">Work</a>

    </li>

    <li class="nav-main__item">
      
      <a href="#contact">Contact</a>

    </li>

    <li class="nav-main__item">
      
      <a href="{{ site.url }}/notes">Notes</a>

    </li>

  </ul>  

</nav>