<section id="portfolio" class="section section--portfolio">

  <div class="section__content">

    <h2 class="heading heading--section">Things I helped make</h2>

    <ul class="grid portfolio portfolio--home">
    	
    	<li class="grid__unit m-3 w-4 portfolio__item">
    	
        <a href="http://bay-productions.co.uk" class="portfolio__link"
            data-title="Bay Productions"
            data-description="Responsive brochure site for world renowned stage scenery producers, 2012">
        
          <img src="{{ site.url }}/assets/images/bayprod-logo.png" alt="Bay Productions">
      
        </a>

    	</li>

    	<li class="grid__unit m-3 w-4 portfolio__item">
        
        <a href="http://alangoulbourne.co.uk" class="portfolio__link"
            data-title="Alan Goulbourne"
            data-description="Portfolio website for an outstanding visual artist, 2011">
    	
          <img src="{{ site.url }}/assets/images/alang-logo.png" alt="Alan Goulbourne">
        
        </a>

    	</li>

    	<li class="grid__unit m-3 w-4 portfolio__item">
    	   <a href="#" class="portfolio__link"
            data-title="Soon....">
  		    <img src="{{ site.url }}/assets/images/cinemigo-logo.png" alt="soon">
        </a>
    	</li>

    </ul>

  </div>
	
</section>