<section id="portfolio" class="section section--portfolio">

  <div class="section__content">

    <h2 class="heading heading--section">Things I helped make</h2>

    <ul class="grid portfolio portfolio--home">
    	
    	<li class="grid__unit m-3 w-4 portfolio__item">
    	
      <a href="http://bay-productions.co.uk">
        
        <img src="{{ site.url }}/assets/images/bayprod-logo.png" alt="Bay Productions">
      
      </a>

    	</li>

    	<li class="grid__unit m-3 w-4 portfolio__item">
        <a href="http://alangoulbourne.co.uk">
    	
        <img src="{{ site.url }}/assets/images/alang-logo.png" alt="Alan Goulbourne">
        
        </a>
    	</li>

    	<li class="grid__unit m-3 w-4 portfolio__item">
    	 <a href="#">
  		<img src="http://placehold.it/400x300" alt="">
        </a>
    	</li>

    </ul>

  </div>
	
</section>