---
layout: layout.njk
title: Thoughts
snippet: Like a tweet but mine
pagination:
  data: collections.thought
  size: 40
  reverse: true
  alias: posts
---

<div class="wrapper">

<div class="stack">
<header class="page-header border">
	<h1>Thoughts</h1>
</header>

{% for post in posts %}
  <article class="thought border">
		<img class="avatar" src="/assets/profile-pic-{{ [1,2,3,4,5,6,7,8,9] | random }}.jpeg" alt="Random Photo of Matt">
		<div class="thought-body">
			<p><strong>Matthew Jackson</strong> @matthewbeta • <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></p>
			<p>{{ post.data.thought }}</p>
			{% if post.data.link %}
			<p><a href="{{ post.data.link }}">{{ post.data.link}}</a></p>
			{% endif %}
		</div>
  </article>
{% endfor %}
</div>

<nav class="pagination">

{% if pagination.previousPageLink %}
<a href="{{ pagination.previousPageHref }}">Newer</a>
{% else %}
<span aria-hidden="true"></span>
{% endif %}

{% if pagination.nextPageLink %}
<a href="{{ pagination.nextPageHref }}">Older</a>
{% endif %}

</nav>

</div>