<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>

        {% include typekit.liquid %}

        <meta name="description" content="{{ page.snippet }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <style>
          {% include style.css %}
        </style>
    </head>
    <body>

      {% include svg-icons.svg %}

      <div id="wrapMain" class="wrap-main">

      <div class="header-wrap section section--header">

        <header id="headerMain" class="header-main section__content" role="banner">

          <div class="grid">

            {% include brand.liquid %}

            {% include nav-home.liquid %}

          </div>

        </header>

      </div>


      {{ content }}


      </div>
      <!-- / WRAP ENDS  -->

      <div class="footer-wrap">

      {% include contact.liquid %}

      {% include footer.liquid %}

    </div>

<script src="{{ site.url }}/js/min/main.min.js" async></script>

{% include analytics.liquid %}

</body>
</html>