<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <script type="text/javascript">
          (function() {
            var config = {
              kitId: 'zua3djh',
              scriptTimeout: 3000
            };
            var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
          })();
        </script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ site.url }}/css/style.css">

    </head>
    <body>

      <div id="wrapMain" class="wrap-main">

      <div class="header-wrap section section--header">
        
        <header id="headerMain" class="header-main section__content" role="banner">

          <div class="grid">
            
          <a href="{{ site.url }}" id="brand" class="brand grid__unit m-3 w-3 brand">
            <i class="icon icon--brand" aria-hidden="true"></i><span class="brand-text">Matthew Jackson</span>
          </a>
          
          <nav id="navMain" class="nav-main grid__unit m-3 w-9" role="navigation">
            
            <ul class="nav-main__list">
              
              <li class="nav-main__item">
                
                <a href="{{ site.url }}/about">about</a>

              </li>

              <li class="nav-main__item">
                
                <a href="{{ site.url }}/posts">posts</a>

              </li>

              <li class="nav-main__item">
                
                <a href="#contact">contact</a>

              </li>

            </ul>  

          </nav>

            
          </div>
          

        </header>

      </div>
        
        {{ content }}


      </div>
      <!-- / WRAP ENDS  -->
      
      <footer class="footer-wrap section section--footer">

        <div id="contact" class="section__content contact">
  
        <div class="grid">
          
            <h2 class="heading heading--section grid__unit s-1 m-1 w-4">Say hello</h2>
            <!-- <img src="{{ site.url }}/assets/images/me.jpg" alt="My face" class="profile-img"> -->

            <p class="single-para grid__unit s-3 m-3 w-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, mollitia, repellendus, sunt, rem quidem alias sit.</p>

            <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash4/524712_10151557131070115_269613200_n.jpg" alt="My face" class="profile-img grid__unit s-1 m-1 w-3">

            
          <div class="grid__unit s-3 m-3 w-8 w-push-1" role="navigation">

            <ul class="grid contact__list">
              
              <li class="grid__unit s-1 m-1 w-3">
                
                <a href="mailto:hello@matthew-jackson.com"><i class="icon icon--mail" aria-hidden="true"></i><b class="visually-hidden">Email me</b></a>

              </li>

              <li class="grid__unit s-1 m-1 w-3">
                
                <a href="http://twitter.com/matthewbeta"><i class="icon icon--twitter" aria-hidden="true"></i><b class="visually-hidden">Tweet me</b></a>

              </li>

              <li class="grid__unit s-1 m-1 w-3">
                
                <a href="http://github.com/matthewbeta"><i class="icon icon--github" aria-hidden="true"></i><b class="visually-hidden">Tweet me</b></a>

              </li>

              <li class="grid__unit s-1 m-1 w-3">
                
                <a href="http://flickr.com/beta_male"><i class="icon icon--flickr" aria-hidden="true"></i><b class="visually-hidden">Flick&hellip;urr me&hellip;?</b></a>

              </li>

            </ul>

          </div>

        </div>

      </div>
        
        <div id="footerMain" class="footer-main section__content">
          
          <p class="small-print">&copy; {{ site.time | date: '%Y' }} | All content is licensed under the <a href="https://raw.github.com/philsturgeon/dbad/master/LICENSE-en.md">DBAD License</a></p>

          <p class="credits">Made in Efailisaf, South Wales on a Mac using <a href="http://www.sublimetext.com/">Sublime Text</a>, <a href="http://www.bohemiancoding.com/sketch/">Sketch</a>, <a href="http://www.easel.io"></a> (and probably some Adobe stuff). Built with <a href="http://sass-lang.com">SCSS</a> with a little help from <a href="http://compass-style.org">Compass</a>. The font used is <a href="http://www.dardenstudio.com/typefaces/freight_sans">Freight Sans</a> by Darden Studio, served via <a href="http://typekit.com">Typekit</a></p>
          
        </div>
        

      </footer>


      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
      <script src="js/plugins.js"></script>
      <script src="js/main.js"></script>

      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-41931191-1');ga('send','pageview');
      </script>

    </body>
</html>