---
layout: post
---

<section class="section section__post">

	<article class="post section__content">

		<div class="grid">

			<div class="grid__unit w-10 w-push-1">

				<header class="post__header">

					<h1 class="heading heading--page">{{ page.title }}</h1>

					<p class="meta">{{ page.date | date_to_string }}</p>

				</header>

				<div class="post__content">

				{{ content }}

				</div>



			</div>

		</div>

	</article>

	<footer class="post__footer">
				<div class="section__content">
					<div class="grid">
			        <div class="prev-post grid__unit m-3 w-6">
			        <h4 class="heading">Previous post:</h4>
			        {% if page.previous.url %}
					<a href="{{page.previous.url}}">{{page.previous.title}}</a>
					{% else %}
					<p>This is the beginning</p>
			        {% endif %}
			        </div>

			        <div class="next-post grid__unit m-3 w-6">
			        <h4 class="heading">Next post:</h4>
			        {% if page.next.url %}
			        <a href="{{page.next.url}}">{{page.next.title}}</a>
			        {% else %}
					<p>Soon&hellip;</p>
			        {% endif %}
			        </div>
					</div>
				</div>
			</footer>

</section>
