---
layout: default
---

<section class="section section__post">

	<article class="post section__content">

	<div class="grid">
		
		<div class="grid__unit m-4 w-8">
			
		<header class="post__header">
			
			<h2 class="heading heading--page">{{ page.title }}</h2>

			<p class="meta">{{ page.date | date_to_string }}</p>
			
		</header>

		<div class="post__content">
			
		{{ content }}
			
		</div>
		
		<footer class="post__footer">
			


		</footer>

		</div>
		
	</div>


	</article>

</section>
